html{
    /* Global Styles */
html {
    font-size: clamp(1rem, 0.75rem + 1.5vw, 2rem); /* Responsive base */
  }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/*Styling body elements*/
/*styling the card in center*/
body{
    background-color:#f3eae3;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
   
}
/*The whole container containing both image and text*/
.productCard{
    display: flex;
    flex-direction: column;
    gap: 2em;
    background-color: white;
    border-radius: 2em;
}
/*Styling the product image making sure its responsive*/
.productImage img{
    width:100%;
    height: auto;
 
  

}

/*Styling the text part of the card*/
.productText{
    margin-left: 1.5em;
    line-height: 1.5;
}
.intro-text{
    font-size: 1.2rem;
    letter-spacing: 0.4em;
    color: #9598a1;
}
.intro-heading{
    margin-top: 0.5em;
    margin-left: 1em;
    color: #22262f;
    font-size: 1.4rem;
    white-space: normal;
    word-wrap: break-word;
}
.aboutProduct{
    margin-top: 1em;
    margin-left: 1.4em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    word-wrap: break-word;
    color: #787b84;
}
.price{
    margin-top: 1em;
    margin-left: 1.5em;
   
    align-items: center;
    display: flex;
     gap: 2em;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*styling the purchase price*/
.cost1{
    color: #437e68;
    font-weight: bold;
    font-size: 2rem;
}
.cost2{
    color: #8d8c9c;
    text-decoration: line-through;
}
/*Styling the purchase button*/
.btnContainer{
   margin-top: 1em;
   margin-left: 1.8em;
}
.shop{
    font-size: 1.2rem;
    padding-right: 2.8em;
    padding-left: 2.8em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    border: #3d8168;
    background-color: #3d8168;
    border-radius: 0.5em;
    color: #f2fffd;
    display: flex;
    gap:0.5em;
    justify-content: center;
    align-items: center;
}  
.shop img{
    width: 15%;
}

/*Media queries*/
@media screen and (min-width: 768px) {
    /* CSS rules for devices with a width of 769px or larger */

   body{
    margin-top: 2em;
    margin-bottom: 2em;
}

.productCard{
    flex-direction: row;
    gap: 0.5em;
    border-radius: 1.5em;
    line-height: 1.5;

}

}
  